.existing-property {
  background-color: #f8f9fa !important;
}

.new-property {
  background-color: #b6c8ec !important;
}

.existing-object {
  background-color: #f8f9fa !important;
}

.new-object {
  background-color: #b6c8ec !important;
}

.existing-source {
  background-color: #f8f9fa !important;
}

.new-source {
  background-color: #b6c8ec !important;
}

.new-source .wikibase-toolbar-container {
  width: 21em !important;
}

/* show reference heading which is otherwise only visible in edit mode */
.wikibase-referenceview div.wikibase-referenceview-heading {
  display: block;
}

.mw-notification-tag-ps-error {
  background-color: #fee7e6 !important;
  border: 1px solid #b32424 !important;
}

